@import url("https://fonts.googleapis.com/css?family=Lobster");
html {
    margin: 0;
    padding: 0;
}

body {
    background: url(./img/noise.png) repeat;
    padding: 20px;
    color: #000;
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 800px;
    position: relative;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 6px solid #000;
    margin: auto;
    border-radius: 6px;
    box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
}

.grid-cell {
    width: 7.5rem;
    height: 7.5rem;
    border: 2px solid #222;
    background-color: #000;
    position: relative;
}

.grid-cell-two {
    width: 7.5rem;
    height: 7.5rem;
    border: 2px solid #222;
    background-color: #000;
    position: relative;
    background-color: #444;
    color: rgba(0, 255, 255, 0.70);
}

.grid-cell-two::after {
    content: "2";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
}

.grid-cell-four {
    width: 7.5rem;
    height: 7.5rem;
    border: 2px solid #222;
    background-color: #000;
    position: relative;
    background-color: #333;
    color: rgba(0, 255, 255, 0.70);
}

.grid-cell-four::after {
    content: "4";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
}

.game-explanation, .heading {
    margin: 2%;
    text-align: center;
}

strong {
    font-weight: bolder;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 10px rgba(0, 255, 255, 0.7);
}

h1, h2 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.12);
    display: inline-block;
    margin: 0 0 10px 0;
    text-align: center;
    top: -20px;
    background: url(./img/noise.png) repeat;
    padding: 5px 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 10px rgba(0, 255, 255, 0.7);
}

h1 {
    font-size: 70px;
    margin-left: -20px;
}

div.button {
    text-align: center;
}

a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

a.glowBtn {
    user-select: none;
    z-index: 10;
    margin: 0 10px 20px 45px;
    width: 240px;
    height: 40px;
    line-height: 40px;
    position: relative;
    float: left;
    font-size: 13.2px;
    letter-spacing: .1em;
    color: rgba(0, 255, 255, 0.7);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-size: 100%;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
}

a.glowBtn:after {
    z-index: -1;
    content: '';
    cursor: pointer;
    top: 4px;
    margin-left: 50%;
    left: -115px;
    width: 230px;
    height: 32px;
    display: block;
    position: absolute;
    background-size: 100%;
    background-image: linear-gradient(#444444, #373738);
    box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

a.glowBtn:hover, a.hover {
    color: #AEAEAE;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

a.glowBtn:hover:after, a.hover:after {
    background-size: 100%;
    background-image: linear-gradient(#545454, #373738);
}

a.glowBtn:active, a.active, a.active:hover {
    color: rgba(0, 255, 255, 0.7);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);
    box-shadow: 0 -1px 0 rgba(0, 193, 255, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 20px rgba(0, 193, 255, 0.1), 0 0 30px rgba(0, 193, 255, 0.1);
}

a.glowBtn:active, a.active, a.active:hover {
    text-shadow: 0 -1px 0 black, 0 0px 30px cyan, 0 0px 50px cyan;
}

a.glowBtn:active:after, a.active:after, a.active:hover:after {
    background-size: 100%;
    background-image: linear-gradient(#262627, #2d2d2e);
    box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.3), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black;
}

div.button.add-tile {
    position: absolute;
    top: 52%;
    /* top: 15%; */
    right: -38%;
}

marquee {
    font-size: 14px;
    font-weight: 300;
}

.score-container, .best-container {
    user-select: none;
    margin: 0 5px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
    float: left;
    font-size: 13.2px;
    letter-spacing: .1em;
    color: rgba(0, 255, 255, 0.7);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-size: 100%;
    background-color: #000;
    border-radius: 4px;
    box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
}

.score-container label, .best-container label {
    margin: 0 15px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#howTo {
    margin: 20px 0 -10px 0;
}